.tabela {
    margin: auto;
    border-collapse: separate;
    font-family: sans-serif;
    

    
}
th, td {
    border: 1px solid gray;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    
}
h1 {
    text-align: center;
    
}